.checkout-container {
  padding: 40px 10%;
  background-color: var(--bg-color);
    color: var(--text-primary);
  min-height: 80vh;
}
.checkout-content {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.cart-summary {
  flex: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  background: var(--card-bg); 
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    padding: 25px;
    border-radius: 12px;
}
.payment-section {
  flex: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  min-width: 300px;
  background: var(--card-bg);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    padding: 25px;
    border-radius: 12px;
}

.checkout-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  align-items: center;
}
.checkout-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.final-total {
  text-align: right;
  margin-top: 20px;
  color: #27ae60;
  font-size: 22px;
}

.stripe-form {
  margin-top: 20px;
}
.card-input {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
}
.pay-btn {
  width: 100%;
  background: #3498db;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.pay-btn:hover {
  background: #2c3e50;
}
.remove-item-btn {
    background: none;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 8px;
    transition: 0.3s;
}

.remove-item-btn:hover {
    background: #ff4d4d;
    color: white;
}
.item-info h4 {
    color: var(--text-primary);
}

.item-info p {
    color: var(--text-secondary);
}